*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.banner-area h2{
    padding-top: 8%;
    font-size: 80px;
    color: white;
}
.content-area h2{
    font-size: 40px;
    text-align: center;
    padding-top:30px;
    letter-spacing: 4px;
}
.content-area p{
    font-size: 20px;
    text-align: justify;
}
.title{
    text-decoration: underline;
    padding-left: 2.3em;
    padding-bottom: 1em;
}
ul h4 {
    font-size: 40px;
    padding-left: 1.2em;
}
ul li{
    font-size: 20px;
    margin: auto;
    
}
.article-links{
    box-sizing: border-box;
    padding: 25px 50px 75px;
    color: black;
}
/*.box-area {
    background-color: rgb(153, 152, 152);
}
.box {
    background-color: rgb(75, 68, 68);
} */
.gradient-custom {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(99, 92, 92), rgb(255, 255, 255))
    }

.box h1 {
    color: rgb(7, 7, 7);
}
.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }